<div class="bg-[#FDFDFD]">
  <div class="container mx-auto flex items-center h-[76px]">
    <ul class="flex items-center gap-x-4">
      <li>
        <a routerLink="/" class="font-medium text-[#3A3A3A]">Home</a>
      </li>
      <li class="text-[#292D32]">
        <i class="fa-solid fa-chevron-right"></i>
      </li>
      <li>
        <a href="" class="font-medium text-[#3A3A3A]">All category</a>
      </li>
      <li class="text-[#292D32]">
        <i class="fa-solid fa-chevron-right"></i>
      </li>
    </ul>
  </div>
</div>

<div class="mt-[100px] mb-16">
  <div class="container mx-auto grid grid-cols-12 gap-x-6">
    <div class="col-span-3">
      <div class="pb-6 border-b border-b-[#BDBDBD]">
        <div class="flex items-center justify-between">
          <p class="text-[#003F62] font-medium">Categories</p>

          <p class="text-[#595959]">Reset</p>
        </div>

        <div class="mt-3 flex flex-col gap-y-3">
          <div class="flex items-center gap-x-[10px]">
            <input
              type="checkbox"
              name="filter"
              id="all"
              class="checkbox"
              hidden
              (click)="onFilterByCategory('all')"
            />
            <span
              class="fake-checkbox w-[30px] h-[30px] rounded-lg bg-[#B3D4E5]"
            ></span>
            <span
              class="fake-checkbox-checked text-white hidden items-center justify-center w-[30px] h-[30px] rounded-lg bg-[#3F3F3F] border border-[#A5A5A5]"
            >
              <i class="fa-solid fa-check"></i>
            </span>
            <label for="all" class="tex-[#222222] select-none cursor-pointer"
              >All categories</label
            >

            <p class="text-[#222222] ml-auto">{{ total }}</p>
          </div>

          @for (data of listCategory; track data.id) {
          <div class="flex items-center gap-x-[10px]">
            <input
              type="checkbox"
              name="filter"
              id="filter-by-{{ data.id }}"
              class="checkbox"
              hidden
              (click)="onFilterByCategory(data.id)"
            />
            <span
              class="fake-checkbox w-[30px] h-[30px] rounded-lg bg-[#B3D4E5]"
            ></span>
            <span
              class="fake-checkbox-checked text-white hidden items-center justify-center w-[30px] h-[30px] rounded-lg bg-[#3F3F3F] border border-[#A5A5A5]"
            >
              <i class="fa-solid fa-check"></i>
            </span>
            <label
              for="filter-by-{{ data.id }}"
              class="tex-[#222222] select-none cursor-pointer"
              >{{ data.name }}</label
            >

            <p class="text-[#222222] ml-auto">{{ data.products.length }}</p>
          </div>
          }
        </div>
      </div>

      
    </div>

    <div class="col-span-9 grid grid-cols-3 gap-4">
      @for (data of listProducts; track data.id) {
      <app-product-item [data]="data"></app-product-item>
      }
    </div>
  </div>
</div>

<div class="container mx-auto mb-20">
  <app-banner-ads></app-banner-ads>
</div>
